aiogram>=3.2.0,<3.5.0 # Актуальная версия aiogram 3.x
httpx>=0.24.0,<0.28.0 # Для API запросов к FastAPI
python-dotenv>=1.0.0,<2.0.0 # Для .env_bot
aiofiles>=23.1.0,<24.0.0 # Для асинхронной работы с файлами (логи, .env, сессии)
telethon>=1.30,<1.35 # Для создания сессий внутри бота

# Опционально, если будете использовать Redis для FSM или других нужд
# redis>=4.5.0,<5.0.0
# aiogram[redis] (если есть такая опция для установки зависимостей aiogram с Redis)